doctype
html
    head
        meta(charset="utf-8")
        title Betmaster.com::Ставки на футбол

        meta(name ='keywords', content="")
        meta(name ='description', content="")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=940, user-scalable=no")

        link(href='/favicon.ico', type="image/x-icon", rel="shortcut icon")
        link(href='/css/swipe-slider.css', type="text/css", rel="stylesheet")
        link(href='/css/main.css', type="text/css", rel="stylesheet")

    body
        block main

        script(src='/js/jquery-1.12.2.min.js', rel='text/javascript' )
        script(src='/js/modal.js', rel='text/javascript' )
        script(src='/js/tab.js', rel='text/javascript' )
        script(src='/js/swiper.jquery.min.js', rel='text/javascript' )
        script(src='/js/sourcebuster.min.js', rel='text/javascript' )
        script(src='/js/jquery.activity.min.js', rel='text/javascript' )
        script(src='/2/js/common.js', rel='text/javascript' )
        script(src='/js/ajax.js', rel='text/javascript' )
        script(type='text/javascript').
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-69340274-1', 'auto');
            ga('send', 'pageview');


        //BEGIN JIVOSITE CODE
        script(type='text/javascript').
            (function () {
                var widget_id = 'HlMgHebBsu';
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            })();



