/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}
body
{
    line-height: 1;
}
ol,
ul
{
    list-style: none;
}
blockquote,
q
{
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
/* End of Eric Meyer's CSS Reset */
html
{
    height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
{
    display: block;
}
body
{
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;

    width: 100%;
    height: 100%;

    background-image: url('/img/home-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body *
{
    font-family: Verdana, sans-serif;

    -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
}
::-webkit-input-placeholder
{
    color: rgba(0,0,0,.5);
}
:-moz-placeholder
{
    color: rgba(0,0,0,.5);
}
.placeholder
{
    color: rgba(0,0,0,.5);
}

@font-face
{
    font-family: 'ruble';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff2') format('woff2'), url('../fonts/rouble-webfont.woff') format('woff'), url('../fonts/rouble-webfont.ttf') format('truetype'), url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
}

.l-calc
{
    margin-left: 5%;
}

.l-diff
{
    padding-top: 100px;
    padding-bottom: 110px;

    background: url('/img/differ-bg.jpg') 0 0 no-repeat;
    background-size: cover;
}

.l-faq
{
    padding-top: 100px;
    padding-bottom: 110px;

    color: #fff;
    background: #fff;
}

.l-foot
{
    padding-top: 100px;
    padding-bottom: 35px;

    background: url('/img/foot-bg.jpg') 0 0 no-repeat;
    background-size: cover;
}

.l-head
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 210px;
    padding-top: 55px;
}
@media only screen and (max-width: 1366px)
{
    .l-head
    {
        height: 150px;
    }
}
@media only screen and (max-width: 994px)
{
    .l-head
    {
        height: 145px;
    }
}

.l-home
{
    padding-bottom: 170px;
}
@media only screen and (max-width: 1366px)
{
    .l-home
    {
        padding-bottom: 30px;
    }
}

.l-howtobet
{
    padding-top: 100px;
    padding-bottom: 110px;

    background: #313334;
}

.l-modal-curtain
{
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(77,77,77,.9);
}
.l-modal-curtain.in
{
    display: block;
}
.l-modal-curtain.in .modal
{
    display: inline-block;
}

.l-top
{
    z-index: 300;
    top: 0;
    right: 0;
    left: 0;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 120px;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: rgba(0,0,0,.7);
}

.l-wrapper
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 880px;
    max-width: 1300px;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
}
@media only screen and (max-width: 950px)
{
    .l-wrapper
    {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.arrow
{
    font-size: 12px;

    display: inline-block;

    width: 60px;
    margin-top: 64px;
    margin-right: 15px;
    margin-left: 15px;

    vertical-align: top;

    color: #fff;
}
.arrow span
{
    text-shadow: 0 0 27px rgba(1,2,2,.6);
}
.arrow img
{
    max-width: 100%;
    margin-top: 20px;
}
.arrow-right
{
    margin-right: 6px;
    margin-left: 30px;
}

.btn
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;

    cursor: pointer;

    border: none;
    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn span
{
    font-size: 18px;
    line-height: 40px;

    position: relative;
    z-index: 50;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    height: 40px;
    padding: 0;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background: #2999e5;
    background: -webkit-gradient(linear, left top, left bottom, from(#2999e5), color-stop(28%, #2894df), color-stop(44%, #2490d9), to(#1e84cc));
    background: -webkit-linear-gradient(top, #2999e5 0%, #2894df 28%, #2490d9 44%, #1e84cc 100%);
    background:         linear-gradient(to bottom, #2999e5 0%, #2894df 28%, #2490d9 44%, #1e84cc 100%);

    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#2999e5\', endColorstr=\'#1e84cc\',GradientType=0 )';
}
.btn span .b-after
{
    position: absolute;
    z-index: -2;
    top: -53px;
    left: -52px;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 324px;
    height: 146px;

    content: '';

    opacity: .3;
    color: #fff;
    background: transparent;
    background: url('/img/first-btn-bg-hover.png') 0 0 no-repeat;
}
.btn span .b-before
{
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    height: 40px;

    content: '';

    color: #fff;
    background: #2999e5;
    background: -webkit-gradient(linear, left top, left bottom, from(#2999e5), color-stop(28%, #2894df), color-stop(44%, #2490d9), to(#1e84cc));
    background: -webkit-linear-gradient(top, #2999e5 0%, #2894df 28%, #2490d9 44%, #1e84cc 100%);
    background:         linear-gradient(to bottom, #2999e5 0%, #2894df 28%, #2490d9 44%, #1e84cc 100%);

    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#2999e5\', endColorstr=\'#1e84cc\',GradientType=0 )';
}
.btn span:active .b-after
{
    opacity: 1 !important;
    background: url('/img/first-btn-bg-active.png') 0 0 no-repeat;
}
.btn-yelloy-shadow span .b-after
{
    background: url('/img/btn-bg-hover.png') 0 0 no-repeat;
}
.btn-yelloy-shadow span:active .b-after
{
    background: url('/img/btn-bg-active.png') 0 0 no-repeat;
}
.btn-modal span
{
    width: 135px;
}
.btn-modal span .b-after
{
    z-index: -2;
    top: -53px;
    left: -52px;

    width: 237px;
    height: 146px;

    pointer-events: none;

    opacity: 1;
    background: url('/img/btn-bg-modal.png') 0 0 no-repeat;
}
.btn-modal span .b-before
{
    width: 135px;
}
.btn-modal:hover span .b-after,
.btn-modal:focus span .b-after
{
    background: url('/img/btn-bg-modal-hover.png') 0 0 no-repeat;
}
.btn-modal:active
{
    -webkit-transform: scale(.97);
        -ms-transform: scale(.97);
            transform: scale(.97);
}
.btn-modal:active .b-after
{
    opacity: 1 !important;
    background: url('/img/btn-bg-modal-active.png') 0 0 no-repeat;
}
.btn-white
{
    display: inline-block;

    padding: 0;

    cursor: pointer;
    vertical-align: top;

    border: none;
    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn-white span
{
    font-family: 'Verdana';
    font-size: 18px;
    line-height: 39px;

    display: inline-block;

    height: 40px;
    padding-right: 18px;
    padding-left: 18px;

    cursor: pointer;

    color: rgba(0,0,0,.8);
    background: #fbfbfb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f4f4f4));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #f4f4f4 100%);
    background:         linear-gradient(to bottom, #fbfbfb 0%, #f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: 0 0 5px 0 rgba(1,2,2,.3);
            box-shadow: 0 0 5px 0 rgba(1,2,2,.3);

    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#fbfbfb\', endColorstr=\'#f4f4f4\',GradientType=0 )'; /* IE6-9 */
}
.btn-white span:hover
{
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafafa));
    background: -webkit-linear-gradient(top, #fff 0%, #fafafa 100%);
    background:         linear-gradient(to bottom, #fff 0%, #fafafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#ffffff\', endColorstr=\'#fafafa\',GradientType=0 )'; /* IE6-9 */
}
.btn-white span:active
{
    background: #fafafa; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fff));
    background: -webkit-linear-gradient(top, #fafafa 0%, #fff 100%);
    background:         linear-gradient(to bottom, #fafafa 0%, #fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#fafafa\', endColorstr=\'#ffffff\',GradientType=0 )'; /* IE6-9 */
}

.calc
{
    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 800px;

    color: #fff;
    background-image: url('/img/calc-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;
}
.calc .btn
{
    margin-top: 37px;
}
.calc-title
{
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;

    margin-top: 2px;
    margin-bottom: 19px;

    letter-spacing: .1px;

    color: #fff;
}
.calc-head
{
    padding: 25px 35px 24px;

    background: rgba(255,255,255,.15);
}
.calc-deposit
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 185px;
    height: 230px;

    vertical-align: top;
}
.calc-bonus
{
    position: relative;

    display: inline-block;

    margin-top: 20px;

    vertical-align: top;
}
.calc-bonus-cash
{
    font-size: 21px;

    position: absolute;
    top: 43px;
    left: 0;

    width: 100%;

    text-align: center;

    text-shadow: 0 0 27px rgba(1,2,2,.6);
}
.calc-bonus-deposit
{
    font-size: 24px;
    line-height: 24px;

    position: absolute;
    top: 98px;
    left: 1px;

    width: 100%;

    text-align: center;

    text-shadow: 0 0 27px rgba(1,2,2,.6);
}
.calc-total
{
    display: inline-block;

    width: 214px;
    margin-top: 85px;

    vertical-align: top;
}
.calc-total-price
{
    font-size: 48px;
    line-height: 1;

    padding-left: 0;

    text-shadow: 0 0 27px rgba(1,2,2,.6);
    /*
    &-btn
      margin-top 40px
      background transparent
      border none
      box-shadow none
      outline none
      padding 0
      cursor pointer
      margin-left: -6px;
      position relative
      z-index 10
      &:active
        >i
          background url("../img/first-btn-bg-active.jpg.png") no-repeat
      >i
        position absolute
        display: inline-block;
        height 126px
        width 324px
        z-index 15
        top: -53px;
        left: -53px;
        background url("../img/first-btn-bg-hover.jpg.png") no-repeat
        background-size cover
        opacity 0
      >span
        position relative
        z-index 25
        font-size: 18px;
        line-height: 38px;
        display: inline-block;
        height: 40px;
        padding-right: 15px;
        padding-left: 15px;
        text-align center
        color: #fff;
        width 100%
      >b
        position absolute
        left 0
        top 0
        z-index 20
        display: inline-block;
        height: 40px;
        width 220px
        color: #fff;
        background: #2999e5;
        background: linear-gradient(to bottom,  #2999e5 0%,#2894df 28%,#2490d9 44%,#1e84cc 100%); /!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!/
        filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#2999e5', endColorstr='#1e84cc',GradientType=0 )"; /!* IE6-9 *!/*/
}
.calc-total-desc
{
    font-size: 12px;
    line-height: 1.25;

    margin-top: 8px;
    padding-left: 33px;

    letter-spacing: .2px;

    color: #fff;
    text-shadow: 0 0 27px rgba(1,2,2,.4);
}
.calc-total-desc-btn
{
    margin-top: 3px;

    letter-spacing: 0;
}
.calc-total-desc img
{
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 26px;
}
.calc-total-desc.calc-total-desc-infinity
{
    position: relative;
}
.calc-foot
{
    padding: 35px 40px;
}
.calc-foot-rubls
{
    display: inline-block;

    width: 253px;

    vertical-align: top;
}
.calc-foot-rubls > div
{
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 13px;

    color: #fff;
}
.calc-foot-cards
{
    display: inline-block;

    width: 277px;

    vertical-align: top;
}
.calc-foot-cards > div
{
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 13px;

    color: #fff;
}
.calc-foot-surprize
{
    display: inline-block;

    width: 175px;

    vertical-align: top;
}
.calc-foot-surprize > div
{
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 13px;

    color: #fff;
}
.calc-dark
{
    position: relative;
    z-index: 50;

    background: none;
}
.calc-dark:before
{
    position: absolute;
    z-index: -1;
    top: -75px;
    left: -75px;

    display: inline-block;

    width: 950px;
    height: 530px;

    content: '';

    background: url('/img/calc-dark-bg.png') 0 0 no-repeat;
}
.calc-dark .calc-head
{
    background: none;
}

.copyright
{
    font-size: 16px;

    margin-top: 75px;

    color: #fff;
}

.deposit-list
{
    font-size: 20px;

    position: absolute;
    z-index: 10;
    top: 0;
    left: 84px;

    width: 100%;

    -webkit-transition: opacity linear .1s;
            transition: opacity linear .1s;
    text-align: left;
}
.deposit-item
{
    font-size: 12px;
    line-height: 18px;

    display: block;

    margin-bottom: 2px;

    color: #fff;
}
.deposit-item:hover
{
    opacity: 1 !important;
}
.deposit-item a,
.deposit-item span
{
    font-size: 12px;
    line-height: 18px;

    color: #fff;
}
.deposit-title
{
    font-size: 24px;

    position: absolute;
    z-index: 20;
    top: 103px;
    left: 3px;

    display: inline-block;

    text-decoration: none;

    color: #fff;
    text-shadow: 0 0 27px rgba(1,2,2,.6);
}

.diff-title
{
    font-size: 24px;
    font-weight: bold;

    display: inline-block;

    width: 600px;
    margin-bottom: 40px;
    padding-left: 5%;

    color: #fff;
}
.diff-info
{
    position: relative;
}
.diff-desc
{
    font-size: 24px;
    line-height: 30px;

    position: relative;

    padding-left: 5%;

    vertical-align: top;

    color: #fff;
}
.diff-slider
{
    position: relative;

    display: inline-block;

    width: 600px;
    margin-top: 65px;

    vertical-align: top;

    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.diff-list
{
    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 530px;
    margin-top: -60px;
    padding-left: 75px;

    vertical-align: top;
}
.diff-list-item
{
    position: relative;

    width: 388px;
    margin-bottom: 20px;
    padding-left: 69px;
}
.diff-list-item:nth-child(1) .diff-list-img
{
    top: 0;
}
.diff-list-item:nth-child(2) .diff-list-img
{
    left: -3px;
}
.diff-list-item:nth-child(3) .diff-list-img
{
    left: 0;
}
.diff-list-title
{
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 10px;

    color: #fff;
}
.diff-list-img
{
    position: absolute;
    top: 3px;
    left: 0;
}
.diff-list-desc
{
    font-size: 16px;
    line-height: 20px;

    color: #fff;
}
.diff-list-desc a
{
    display: inline-block;

    opacity: .8;
    color: #fff;
}
.diff-list-desc a:hover
{
    opacity: 1;
}
@media only screen and (max-width: 1240px)
{
    .diff-list
    {
        display: block;

        width: 800px;
        margin-top: 70px;
        padding-left: 0;
    }
    .diff-list-item:nth-child(1),
    .diff-list-item:nth-child(2)
    {
        display: inline-block;

        width: 300px;

        vertical-align: top;
    }
}

.faq-title
{
    font-size: 24px;
    font-weight: bold;

    display: inline-block;

    width: 600px;
    margin-bottom: 45px;
    padding-left: 5%;

    color: #000;
}
.faq-list
{
    display: inline-block;

    width: 600px;
    padding-left: 5%;

    vertical-align: top;
}
.faq-action
{
    font-size: 12px;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 310px;
    padding-top: 4px;
    padding-left: 75px;

    text-align: center;
    vertical-align: top;

    color: #000;
}
.faq-action-desc
{
    margin-top: 7px;
}
.faq-content
{
    font-size: 16px;
    line-height: 20px;

    overflow: hidden;

    height: 0;

    -webkit-transition: height 300ms ease-out;
            transition: height 300ms ease-out;

    color: rgba(0,0,0,.8);
}
.faq-heading
{
    font-size: 16px;

    display: inline-block;

    margin-bottom: 10px;

    cursor: pointer;

    color: rgba(0,0,0,.8);
}
.faq-heading span
{
    display: inline-block;

    border-bottom: 1px dotted rgba(0,0,0,.8);
}
.faq-heading:hover
{
    color: #000;
}
.faq-heading:hover span
{
    border-bottom: 1px dotted #000;
}
.faq-item[data-visible='1'] .faq-content
{
    height: 170px;
    margin-bottom: 13px;

    -webkit-transition: height 300ms ease-out;
            transition: height 300ms ease-out;
}
@media only screen and (max-width: 1080px)
{
    .faq-action
    {
        display: block;

        width: 230px;
        margin-top: 35px;
        margin-left: 5%;
        padding-left: 0;
    }
}

.howtobet-title
{
    font-size: 24px;
    font-weight: bold;

    display: inline-block;

    width: 600px;
    margin-bottom: 43px;
    padding-left: 5%;

    color: #fff;
}
.howtobet-desc
{
    font-size: 16px;
    line-height: 20px;

    position: relative;

    display: inline-block;

    width: 600px;
    margin-bottom: 36px;
    padding-left: 5%;

    vertical-align: top;

    color: #fff;
}
.howtobet-money
{
    font-size: 12px;
    line-height: 16px;

    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    margin-top: 4px;
    padding-left: 96px;

    vertical-align: top;

    color: #fff;
}
.howtobet-money img
{
    position: absolute;
    top: 0;
    left: 20px;

    display: inline-block;

    width: 80px;
}
@media only screen and (max-width: 1030px)
{
    .howtobet-money
    {
        width: 220px;
    }
}
@media only screen and (max-width: 998px)
{
    .howtobet-money
    {
        width: 180px;
        padding-left: 76px;
    }
    .howtobet-money img
    {
        left: 0;
    }
}


.i-ruble
{
    font-family: ruble;
}

.logo
{
    display: inline-block;

    padding: 10px 10px 3px;

    background: transparent url('/img/calc-bg.jpg') repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo a
{
    line-height: 1;

    display: inline-block;

    text-decoration: none;
}
.logo a span
{
    font-size: 12px;
    line-height: 1.44;

    display: block;

    color: #fff;
}

.modal
{
    position: absolute;
    z-index: 550;
    top: 50%;
    left: 50%;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 585px;
    padding: 20px 30px 30px;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background-color: #fff;
    -webkit-box-shadow: 0 0 81px 10px rgba(128,208,255,.38);
            box-shadow: 0 0 81px 10px rgba(128,208,255,.38);
}
.modal-title
{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;

    display: inline-block;

    margin-bottom: 10px;

    color: #000;
}
.modal-close
{
    position: absolute;
    z-index: 600;
    top: 0;
    right: 0;

    display: inline-block;

    width: 50px;
    height: 50px;

    cursor: pointer;

    opacity: .4;
    background: url('/img/modal-close.png') center no-repeat;
}
.modal-close:hover
{
    opacity: 1;
}
.modal-group
{
    position: relative;

    margin-bottom: 20px;
}
.modal-group:last-child
{
    margin-bottom: 0;
}
.modal-group-hint
{
    display: none;

    margin-left: 20px;
}
.modal-input,
.modal-textarea
{
    font-family: 'Verdana';
    font-size: 16px;
    line-height: 20px;

    position: relative;
    z-index: 500;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 18px 20px;

    color: #000;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,.051);
    -webkit-box-shadow: none;
            box-shadow: none;
}
.modal-input-name,
.modal-textarea-name
{
    width: 200px;
    margin-right: 20px;
}
.modal-input-email,
.modal-textarea-email
{
    width: 300px;
}
.modal-input-wrap,
.modal-textarea-wrap
{
    position: relative;

    display: inline-block;
}
.modal-input-length,
.modal-textarea-length
{
    position: absolute;
    bottom: -5px;
    left: 0;

    display: none;

    max-width: 100%;
    height: 5px;

    background: #80d1ff;
}
.modal-arrow
{
    position: absolute;
    top: -47px;
    left: 160px;

    display: none;

    width: 210px;
    height: 85px;

    background: url('../img/arrow-reg-form.png') 0 0 no-repeat;
}
.modal-textarea
{
    height: 110px;

    resize: none;
}
.modal-btn
{
    display: inline-block;

    margin-right: 20px;
    padding: 0;

    vertical-align: top;

    border: none;
    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.modal .btn
{
    vertical-align: top;
}
.modal.modal-question .modal-msg span
{
    width: 370px;
}
.modal-reg
{
    width: 500px;
    /**/
}
.modal-reg-email
{
    width: 300px;
}
.modal-reg-password
{
    width: 160px;
}
.modal-reg-new
{
    width: 580px;
}
.modal-reg-new .btn-white span
{
    background-image: -webkit-linear-gradient(0deg, #f4f4f4 0%, #fbfbfb 100%);
    background-image:         linear-gradient(90deg, #f4f4f4 0%, #fbfbfb 100%);
    -webkit-box-shadow: 0 0 10px 0 rgba(107,175,214,.5);
            box-shadow: 0 0 10px 0 rgba(107,175,214,.5);
}
.modal-reg-new .btn-white span:hover
{
    background-image: -webkit-linear-gradient(0deg, #f4f4f4 0%, #fbfbfb 100%);
    background-image:         linear-gradient(90deg, #f4f4f4 0%, #fbfbfb 100%);
    -webkit-box-shadow: 0 0 10px 0 rgba(107,175,214,.8);
            box-shadow: 0 0 10px 0 rgba(107,175,214,.8);
}
.modal-reg-new .btn-white span:active
{
    -webkit-transform: scale(.97);
        -ms-transform: scale(.97);
            transform: scale(.97);
}
.modal-reg-new .btn-white,
.modal-reg-new .modal-msg
{
    margin-top: 15px;
}
.modal-success
{
    position: absolute;
    z-index: 560;
    top: 0;
    left: 0;

    display: none;

    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 100%;
    min-height: 100%;

    background: #fff;
}
.modal-success-img
{
    overflow: hidden;

    height: 200px;
}
.modal-success-title
{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;

    margin-top: 25px;
    margin-bottom: 10px;

    text-align: center;

    color: #000;
}
.modal-success-desc
{
    font-size: 16px;
    line-height: 20px;

    margin-bottom: 25px;

    text-align: center;

    color: #000;
}
.modal-bonus
{
    position: absolute;
    bottom: -64px;
    left: 0;

    display: none;

    width: 100%;
    height: 34px;
    padding-top: 30px;
}
.modal-bonus-img
{
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 30px;
}
.modal-bonus-title
{
    font-size: 12px;
    line-height: 15px;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 30px;

    color: #fff;
}
.modal-bonus-one
{
    position: relative;

    display: inline-block;

    width: 160px;

    vertical-align: top;
}
.modal-bonus-two
{
    position: relative;

    display: inline-block;

    width: 190px;
    margin-left: 45px;

    vertical-align: top;
}
.modal-bonus-three
{
    position: relative;

    display: inline-block;

    width: 130px;
    margin-left: 45px;

    vertical-align: top;
}
.modal-msg
{
    font-size: 12px;
    line-height: 40px;

    display: none;

    width: 200px;
    height: 40px;
    margin-left: 20px;

    vertical-align: top;

    color: rgba(0,0,0,.8);
}
.modal-msg span
{
    line-height: 1.25;

    display: table-cell;

    width: 120px;
    height: 40px;

    vertical-align: middle;
}
.modal-question-success
{
    display: none;
}

.sign-in
{
    display: inline-block;
    float: right;

    padding: 10px;

    background: transparent url('../img/calc-bg.jpg') repeat;
    background-attachment: fixed;
    background-size: cover;
}
.sign-in a
{
    font-size: 14px;
    font-weight: bold;

    display: inline-block;

    margin-left: 10px;

    text-decoration: underline;

    opacity: .8;
    color: #fff;
}
.sign-in a:hover
{
    opacity: 1;
}
.sign-in a:first-child
{
    margin-left: 0;
}

.star
{
    position: relative;
    z-index: 20;

    display: inline-block;

    width: 15px;
    height: 15px;
    margin-right: 4px;
    margin-bottom: -2px;
    margin-left: 4px;

    background: transparent url('/img/star-no-shadow.png') 0 0 no-repeat;
}
.star:before
{
    position: absolute;
    z-index: -1;
    top: -9px;
    left: -9px;

    display: inline-block;

    width: 33px;
    height: 33px;

    content: '';

    background: transparent url('/img/star.png') 0 0 no-repeat;
}

.swiper-container
{
    width: 100%;
    height: 100%;
}
.swiper-slide
{
    font-size: 18px;
    /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    text-align: center;

    background: #fff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
}
.swiper-slide
{
    overflow: hidden;

    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.swiper-slide img
{
    overflow: hidden;

    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.swiper-pagination
{
    top: 24px;
    left: 5%;
}
.swiper-pagination-bullet
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-right: 20px;

    opacity: 1;
    border: 1px solid #fff;
    background: transparent;
}
.swiper-pagination-bullet:hover
{
    background: rgba(255,255,255,.9);
}
.swiper-pagination-bullet-active
{
    background: #fff;
}

.tab-nav
{
    padding-left: 5%;
}
.tab-nav li
{
    display: inline-block;
}
.tab-nav li.active a
{
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: rgba(255,255,255,.2);
}
.tab-nav li.active a .tab-nav-title
{
    opacity: 1;
    border-bottom: none;
}
.tab-nav a
{
    font-size: 16px;
    line-height: 29px;

    display: inline-block;

    height: 30px;
    padding-right: 10px;
    padding-left: 10px;

    text-decoration: none;

    color: #fff;
}
.tab-nav-title
{
    line-height: 1.2;

    display: inline-block;

    opacity: .8;
    border-bottom: 1px dotted #fff;
}
.tab-nav-title:hover
{
    opacity: 1;
}
.tab-content
{
    display: inline-block;

    width: 900px;
    margin-top: 20px;
}
.tab-pane
{
    display: none;
}
.tab-pane-img
{
    display: inline-block;

    width: 600px;

    vertical-align: top;
}
.tab-pane-desc
{
    font-size: 12px;
    line-height: 15px;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 290px;
    padding-top: 108px;
    padding-left: 34px;

    vertical-align: top;

    color: #fff;
}
.tab-pane.active
{
    display: block;
}
@media only screen and (max-width: 998px)
{
    .tab-content
    {
        width: 820px;
    }
    .tab-pane-img
    {
        width: 510px;
    }
    .tab-pane-desc
    {
        padding-top: 90px;
    }
}

.top-pluses
{
    display: inline-block;

    margin-left: 5%;

    vertical-align: top;
}
.top-pluses li
{
    display: inline-block;

    height: 40px;
}
.top-pluses li:nth-child(1)
{
    width: 150px;
    margin-right: 28px;
}
.top-pluses li:nth-child(2)
{
    width: 195px;
    margin-right: 20px;
}
.top-pluses li:nth-child(3)
{
    width: 145px;
    margin-right: 20px;
}
.top-pluses li span
{
    font-size: 12px;
    line-height: 15px;

    display: table-cell;

    height: 40px;

    vertical-align: middle;

    color: #fff;
}
.top-pluses-btn
{
    display: inline-block;

    width: 400px;

    vertical-align: top;
}
.top-pluses-desc
{
    display: inline-block;

    height: 40px;
    margin-left: 7px;

    vertical-align: top;
}
.top-pluses-desc span
{
    font-size: 12px;
    line-height: 15px;

    display: table-cell;

    height: 40px;

    vertical-align: middle;

    color: #fff;
}
@media only screen and (max-width: 1160px)
{
    .top-pluses-desc
    {
        width: 100px;
    }
    .top-pluses-btn
    {
        width: 335px;
    }
    .top-pluses li
    {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 1085px)
{
    .top-pluses-desc
    {
        display: none;
    }
    .top-pluses-btn
    {
        width: 220px;
    }
}

.btn-white:disabled span
{
    background: #fbfbfb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f4f4f4));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #f4f4f4 100%);
    background:         linear-gradient(to bottom, #fbfbfb 0%, #f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: 0 0 5px 0 rgba(1,2,2,.3);
            box-shadow: 0 0 5px 0 rgba(1,2,2,.3);

    filter: '\'progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#fbfbfb\', endColorstr=\'#f4f4f4\',GradientType=0 )\''; /* IE6-9 */
}

.deposit-item[data-state='active']
{
    font-size: 24px;

    visibility: hidden;

    height: 19px;
    padding-top: 5px;
    padding-bottom: 5px;

    opacity: 0 !important;
    color: #fff;
}
.deposit-item[data-state='active'] a,
.deposit-item[data-state='active'] span
{
    font-size: 24px;

    text-decoration: none;

    color: #fff;
    text-shadow: 0 0 27px rgba(1,2,2,.6);
}

.is-group-hint-error
{
    font-size: 16px;

    display: inline-block;

    color: #f00;
}

.is-group-hint-info
{
    font-size: 16px;

    display: inline-block;

    color: #45b4f5;
}

.is-group-hint-success
{
    font-size: 16px;

    display: inline-block;

    padding-left: 20px;

    color: #4ea500;
    background: url('../img/check.png') left center no-repeat;
}

.is-input-length-visible
{
    display: inline-block;
}

.is-modal-arrow-visible
{
    display: inline-block;
}

.is-modal-bg-two
{
    background: url('../img/modal-bg-two.jpg') 0 0 no-repeat;
}
.is-modal-bg-two .modal-bonus
{
    display: inline-block;
}
.is-modal-bg-two .modal-title
{
    line-height: 1;

    margin-bottom: 19px;

    color: #fff;
}
.is-modal-bg-two .modal-input
{
    font-size: 16px;

    color: #000;
    background-color: rgba(255,255,255,.5);
}
.is-modal-bg-two .modal-group-hint
{
    color: #fff !important;
}
.is-modal-bg-two .is-group-hint-success
{
    background-image: url('../img/check-white.png');
}
.is-modal-bg-two .modal-arrow
{
    top: -41px;
    left: 155px;

    height: 115px;

    background-image: url('/img/arrow-reg-form-white.png');
}
.is-modal-bg-two .modal-group
{
    margin-bottom: 15px;
}
.is-modal-bg-two .modal-input
{
    line-height: 50px;

    height: 50px;
}
.is-modal-bg-two .btn-modal
{
    margin-top: 45px;
}
.is-modal-bg-two .modal-group-hint
{
    position: relative;
    top: -3px;

    margin-left: 15px;
}
.is-modal-bg-two.modal
{
    padding-top: 22px;
    padding-bottom: 16px;
}

.modal-desc.is-modal-desc-success
{
    display: block;
}

.modal-msg.is-modal-msg-visible
{
    display: inline-block;
}

.is-modal-success .modal-success
{
    display: inline-block;
}
.is-modal-success .modal-close
{
    z-index: 650;

    background: url('/img/modal-close-white.png') center no-repeat;
}

.is-top-fixed
{
    position: fixed;

    display: block;
}
