.l-diff
    .l-wrapper
        .diff
            .diff-title Чем отличается Betmaster
            .diff-desc
                |Простой интерфейс с&nbsp;большими
                br
                |возможностями

            .diff-info
                .swiper-pagination

                .diff-slider
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src="/img/ui/img.jpg" width="100%")
                            .swiper-slide
                                img(src="/img/ui/img2.jpg" width="100%")
                            .swiper-slide
                                img(src="/img/ui/img3.jpg" width="100%") 

                .diff-list
                    .diff-list-item
                        .diff-list-img
                            img(src="/img/without-intermediaries.png")
                        .diff-list-title
                            |Автоматический вывод средств
                        .diff-list-desc
                            |Без модераций, посредников и&nbsp;операторов
                            |Выплаты на&nbsp;карты Visa и&nbsp;Mastercard
                            br
                            |Ввод и&nbsp;вывод от&nbsp;50&nbsp;рублей

                    .diff-list-item
                        .diff-list-img
                            img(src="/img/speed.png")
                        .diff-list-title
                            |Быстрая платформа для&#8198;ставок
                        .diff-list-desc
                            |Изменения коэффициентов без задержек и&nbsp;перезагрузки страницы

                    .diff-list-item
                        .diff-list-img
                            img(src="/img/legally.png")
                        .diff-list-title
                            |Законно для жителей России, СНГ&#8198;и&#8198;Европы
                        .diff-list-desc
                            |Betmaster работает по&nbsp;
                            a(target="_blank" href="https://validator.curacao-egaming.com/4fba92bd-0760-4f27-a233-2a560a00002a") Лицензии &#8470;&nbsp;1668/JAZ&#8198;
                            |международного регулятора Cura&ccedil;ao eGaming (Кюрасао). Лицензия разрешает организацию и&nbsp;приём ставок на&nbsp;футбольные матчи.

