.l-faq
    .l-wrapper
        .faq
            .faq-title Вопросы и ответы

            .faq-list.js-faq-accordion

                .faq-item.js-faq-item(data-visible="0")
                    a.faq-heading.js-faq-heading
                        span
                            |Как работает бонусный алгоритм?
                    .faq-content
                        |При пополнении счета игрок получает&nbsp;50% от&nbsp;введенной суммы в&nbsp;виде бонусных рублей. Бонус в&nbsp;размере&nbsp;50% начисляется на&nbsp;каждый депозит, пока сумма всех бонусов не&nbsp;достигнет 25&nbsp;000&nbsp;рублей. Каждый раз, когда пользователь делает ставку на&nbsp;событие, система по&nbsp;специальной формуле рассчитывает сумму бонуса, которая будет добавлена к&nbsp;его ставке. Сумма снимается с&nbsp;бонусного счёта. Выигрыш по&nbsp;бонусным рублям переходит на&nbsp;реальный и&nbsp;бонусный счет.

                .faq-item.js-faq-item(data-visible="0")
                    a.faq-heading.js-faq-heading
                        span
                            |Какие типы ставок доступны?
                    .faq-content
                        |Ставки на&nbsp;победу в&nbsp;основное время, в&nbsp;первом тайме, во&nbsp;втором тайме, двойной исход, ставки с&nbsp;тоталом, ставки на&nbsp;количество голов гостей и&nbsp;хозяев, точный счет, чет или нечет.

                .faq-item.js-faq-item(data-visible="0")
                    a.faq-heading.js-faq-heading
                        span
                            |Сколько времени занимает вывод средств?
                    .faq-content
                        |Ручной модерации нет, поэтому сумму на&nbsp;вывод мы&nbsp;проводим автоматически. Дальше время ожидания зависит от&nbsp;банка, выдавшего карту. Среднее время вывода&nbsp;&mdash; 5&nbsp;часов, максимальное&nbsp;&mdash; 3&nbsp;дня.

                .faq-item.js-faq-item(data-visible="0")
                    a.faq-heading.js-faq-heading
                        span
                            |Почему ввод и&nbsp;вывод средств только на&nbsp;банковские карты?
                    .faq-content
                        |Только при работе с&nbsp;банковскими картами можно выводить деньги в&nbsp;течении 1&nbsp;дня. При подключение других способов оплаты время вывода средств увеличивается многократно. Дополнительно банковские карты защищаются банком-эмитентом.

                .faq-item.js-faq-item(data-visible="0")
                    a.faq-heading.js-faq-heading
                        span
                            |Сколько времени занимает зачисление выигрыша?
                    .faq-content
                        |Зачисление выигрыша происходит за 5-10 минут после конца матча. В случаях, когда  исход матча вызывает подозрение в мошенничестве, время зачисления выигрыша увеличивается.


            .faq-action
                button.btn-white#btnFaq(data-toggle="modal" data-target=".js-modal-question")
                    span Задать свой вопрос
                .faq-action-desc Ответим на почту
