.l-home
    .l-wrapper
        .l-head
            .logo
                a(href="/")
                    img(src="/img/logo.png")
                    span Ставки на футбол

            .sign-in
                a.js-link-reg(href="#" data-toggle="modal" data-target=".js-modal-reg") Регистрация
                a.js-link-sign(href="https://betmaster.com/signin" ) Войти
        .l-calc
            .calc
                .calc-head
                    h1.calc-title Бонус 50&#8198;% на каждый депозит

                    .calc-deposit
                        ul.deposit-list.js-deposit-list
                            li.deposit-item.js-deposit-item(data-position="100" data-state="default" data-price="100" style="opacity:0.2;")
                                a(href="#") 100
                            li.deposit-item.js-deposit-item(data-position="80"   data-state="default" data-price="200" style="opacity:0.3;")
                                a(href="#") 200
                            li.deposit-item.js-deposit-item(data-position="60"   data-state="default" data-price="300" style="opacity:0.4;")
                                a(href="#") 300
                            li.deposit-item.js-deposit-item(data-position="40"   data-state="default" data-price="400" style="opacity:0.5;")
                                a(href="#") 400
                            li.deposit-item.js-deposit-item(data-position="20"   data-state="default" data-price="500" style="opacity:0.6;")
                                a(href="#") 500
                            li.deposit-item.js-deposit-item(data-position="0" data-state="active" data-price="1000" style="opacity:0.7;")
                                a(href="#") 1000
                            li.deposit-item.js-deposit-item(data-position="-20"   data-state="default" data-price="2000" style="opacity:0.8;")
                                a(href="#") 2000

                            li.deposit-item.js-deposit-item(data-position="-40"   data-state="default" data-price="3000" style="opacity:1;")
                                a(href="#") 3000

                            li.deposit-item.js-deposit-item(data-position="-60"   data-state="default" data-price="4000" style="opacity:0.8;")
                                a(href="#") 4000
                            li.deposit-item.js-deposit-item(data-position="-80"  data-state="default" data-price="5000" style="opacity:0.7;")
                                a(href="#") 5000
                            li.deposit-item.js-deposit-item(data-position="-100"  data-state="default" data-price="10000" style="opacity:0.6;")
                                a(href="#") 10&#8198;000
                            li.deposit-item.js-deposit-item(data-position="-120"  data-state="default" data-price="20000" style="opacity:0.5;")
                                a(href="#") 20&#8198;000
                            li.deposit-item.js-deposit-item(data-position="-140"  data-state="default" data-price="30000" style="opacity:0.4;")
                                a(href="#") 30&#8198;000
                            li.deposit-item.js-deposit-item(data-position="-160"  data-state="default" data-price="40000" style="opacity:0.3;")
                                a(href="#") 40&#8198;000
                            li.deposit-item.js-deposit-item(data-position="-180"  data-state="default" data-price="50000" style="opacity:0.2;")
                                a(href="#") 50&#8198;000

                        span.deposit-title Внеси&#8198;
                            span.deposit-price.js-curr-price 1000
                            span.deposit-ruble.i-ruble &#8198;q

                    .arrow
                        span подарим
                        img(src="/img/arrow.png")

                    .calc-bonus
                        span.calc-bonus-cash +&#8198;
                            span.js-cash 500
                            i.i-ruble &#8198;q
                        span.calc-bonus-deposit
                            span.js-deposit 1000
                            i.i-ruble &#8198;q
                        img(src="/img/bonus.png")

                    .arrow.arrow-right
                        span доступно
                        img(src="/img/arrow.png")

                    .calc-total
                        span.calc-total-price
                            span.js-total 1500
                            i.i-ruble &#8198;q
                        .calc-total-desc.calc-total-desc-infinity
                            img(src="/img/infinity.png")
                            span следующие депозиты &mdash;<br>снова +&#8198; 50&#8198;%

                        button.btn#btnHome(href="#" data-toggle="modal" data-target=".js-modal-reg")
                            span
                                i.b-after
                                |Зарегистрироваться
                                i.b-before

                        .calc-total-desc.calc-total-desc-btn Чтобы получить бонус

                .calc-foot
                    .calc-foot-rubls
                        div Минимальная сумма<br>вывода и вывода — 50
                            i.i-ruble &#8198;q
                        img(src="/img/rubls.png")
                    .calc-foot-cards
                        div Автоматические выплаты на Visa<br>и Mastercard
                        img(src="/img/cards.png")
                    .calc-foot-surprize
                        div Максимальный бонус<br>25&#8198;000
                            i.i-ruble &#8198;q
                        img(src="/img/surprize.png")




