.l-howtobet
    .l-wrapper
        .howtobet
            .howtobet-title Как делать ставки с&nbsp;бонусом
            .howtobet-info
                .howtobet-desc
                    |Система добавляет из&nbsp;бонуса к&nbsp;каждой ставке 4–50 % от&nbsp;её&nbsp;размера. Чем выше вероятность события, тем больше добавит система.
                    br
                    |Например, ставишь на&nbsp;фаворита
                    span.star
                    |&mdash;&nbsp;получаешь больший бонус.
                .howtobet-money
                    img(src="/img/money.png")
                    span
                        |Выигрыш по&nbsp;бонусу
                        br
                        |сразу доступен к&nbsp;выводу
        .l-tabs
            .tab
                ul.nav.tab-nav(role="tablist")
                    li.active
                        a(href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab" )
                            span.tab-nav-title Победа Челcи
                            span.star
                    li
                        a(href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab" )
                            span.tab-nav-title Ничья
                    li
                        a(href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab" )
                            span.tab-nav-title Победа Астон Вилла

                .tab-content.clr
                    .tab-pane.active#tab1(role="tabpanel")
                        .tab-pane-img
                            img(src="/img/chelsi.jpg" width="100%")
                        .tab-pane-desc
                            |&laquo;1.06&raquo;&nbsp;&mdash; высокая вероятность,
                            br
                            |бонус к&nbsp;ставке 50 %

                    .tab-pane#tab2(role="tabpanel")
                        .tab-pane-img
                            img(src="/img/draw.jpg" width="100%")
                        .tab-pane-desc
                            |&laquo;7.33&raquo;&nbsp;&mdash; низкая вероятность,
                            br
                            |бонус к&nbsp;ставке 4 %

                    .tab-pane#tab3(role="tabpanel")
                        .tab-pane-img
                            img(src="/img/aston.jpg" width="100%")
                        .tab-pane-desc
                            |&laquo;18.55&raquo;&nbsp;&mdash; очень низкая вероятность,
                            br
                            |бонус к&nbsp;ставке 4 %