.l-modal-curtain.js-modal-curtain.js-modal-question
    .modal.modal-question
        span.modal-close(data-dismiss="modal")
        .modal-title Задать вопрос
        form.modal-form(name="modal_question" method="POST" )
            input(type="hidden" name="action" value="sendMail")
            input(type="hidden" name="type" value="version1_")
            .modal-group
                textarea.modal-textarea(name="message" placeholder="Вопрос" required)
            .modal-group
                input.modal-input.modal-input-name(name="name" placeholder="Имя" type="text" required)
                input.modal-input.modal-input-email(name="email" placeholder="Электронная почта" type="email" required)
            .modal-group
                button.btn-white
                    span Отправить
                span.modal-msg.js-modal-msg
                    span Спасибо за вопрос


//.l-modal-curtain.js-modal-curtain.js-modal-reg
    //.is-modal-reg-success для сообщения об успехной отправки формы
    .modal.modal-reg
        span.modal-close(data-dismiss="modal")
        .modal-title Регистрация
        form.modal-form(name="modal_reg" method="POST")
            input(type="hidden" name="action" value="reg")
            input(type="hidden" name="type" value="version2_")
            .modal-group
                input.modal-input(name="email" placeholder="Электронная почта" type="email" required)
            .modal-group
                input.modal-input(name="password" placeholder="Пароль от 8 знаков" type="password" required)
            .modal-group
                button.btn-white
                    span Зарегистрироваться
                span.modal-msg.js-modal-msg
                    span Спасибо за вопрос


        .modal-success
            .modal-success-img
                img(src="/img/reg-success.png" width="100%")
            .modal-success-title
                |Проверьте почту

            .modal-success-desc
                |На вашу почту придет письмо с ссылкой<br>для подтверждения аккаунта

