.l-modal-curtain.js-modal-curtain.js-modal-reg
    .modal.modal-reg
        span.modal-close(data-dismiss="modal")
        .modal-title Регистрация
        form.modal-form(name="modal_reg" method="POST")
            input(type="hidden" name="action" value="reg")
            input(type="hidden" name="type" value="version1_")
            .modal-group
                input.modal-input(name="email" placeholder="Электронная почта" type="email" required)
                .modal-hint.is-success Превосходно!
            .modal-group
                input.modal-input(name="password" placeholder="Пароль от 8 знаков" type="password" required)
                .modal-hint.is-success Пароль что надо!
            .modal-group
                button.btn-white
                    span Зарегистрироваться


        .modal-success
            .modal-success-img
                img(src="/img/reg-success.png" width="100%")
            .modal-success-title
                |Проверьте почту

            .modal-success-desc
                |На вашу почту придет письмо с ссылкой<br>для подтверждения аккаунта

