.l-top
    .l-wrapper
        .top
            ul.top-pluses
                li
                    span Минимальная сумма ввода и&nbsp;вывода &mdash; 50 
                        i.i-ruble &#8198;q
                li
                    span Автоматические выплаты на&nbsp;Visa и&nbsp;Mastercard
                li
                    span Максимальный бонус 25 000
                        i.i-ruble &#8198;q

            .top-pluses-btn
                button.btn#btnTop(href="#" data-toggle="modal" data-target=".js-modal-reg")
                    span
                        i.b-after
                        | Зарегистрироваться
                        i.b-before
                .top-pluses-desc
                    span Чтобы получить бонус


