extends ../_layout-l

block main
    
    include ../inc/_home
    include ../inc/_howtobet
    include ../inc/_diff
    include ../inc/_faq
    include ../inc/_foot
    include ../inc/_top
    include ../inc/_popup-l





